/* ========================== Component Name ========================== */
$component: ".cta-19";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply flex relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__info {
    @apply flex;
    flex-wrap: wrap;
  }

  &__header {
    margin-bottom: 1rem;
    letter-spacing: 4px;
    font-weight: 300;
  }

  &__address {
    @apply w-full;
    margin-bottom: 2rem;
  }

  &__contact {
    @apply w-full;
  }

  address {
    @include paragraph;
    @apply text-wire-gray;
    font-style: normal;
  }

  &__email {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  &__phone {
    @apply text-wire-gray;
  }

  &__social {
    margin-top: 2rem;
  }

  &__social-icon {
    display: inline-block;
  }

  &__form {
    @apply flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
  }

  &__form-submit {
    @apply text-white bg-wire-primary py-3 px-12;
    border-radius: 0.5rem;
  }

  input {
    @apply py-2 px-2 border border-wire-light;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    &[type='file'] {
      display: none;
      vertical-align: top;
      border: none;
    }

    &[type='submit'] {
      max-width: 170px;
      justify-self: flex-end;
      margin-bottom: 0;
    }
  }

  label {
    width: 50%;

    svg {
      display: inline-block;
      margin-right: 8px;
    }

    p {
      display: inline-block;
    }
  }

  textarea {
    @apply w-full py-2 px-2 border border-wire-light;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    resize: none;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__info {
      width: 22%;
    }

    &__social {
      align-self: flex-end;
    }

    &__form  {
      width: 70%;
      margin-top: 0;
    }

    input {
      &:nth-child(1),
      &:nth-child(2) {
        width: 49%;
      }
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
